[2016-04-26 01:48] joshyellin opened #1 "Add "resources" to mentors and attendees"
Can we add a "resources" tab for both startups and mentors? Ideally we would edit this from the admin side and paste useful links (think speaker decks, forms, photo album links, etc.), which would need to be different for each group (mentors and startups)

[2016-04-26 01:53] joshyellin opened #2 "[bug] Startup login - can't input info"
When I logged in as a startup, I wasn't able to enter any of my info. It may be that we're not there yet, but I logged in with my google account but couldn't do anything afterward.

[2016-04-26 01:59] joshyellin opened #3 "[feature] "Attendees" tab"
Does "attendee" mean all participants including mentors?

Can we add a tab / database of the mentors for all mentors and startups to see? I imagine this would be an additional tab.

[2016-04-26 02:09] joshyellin opened #4 "[bug p0] Admin - required info"
Can we remove phone number as a requirement when an admin is adding a mentor? I'm thinking of when I add Googler mentors.

[2016-04-26 02:12] joshyellin opened #5 "[feature v2] Admin - Schedule"
Can we make it by 30 mins instead of hour? A lot of engagements are only scheduled for 30 mins (e.g., PlayBD quick sessions), plus it allows more flexibility to book 90 min sessions and start activities on the half hour.

[2016-04-26 02:13] joshyellin opened #6 "[feature v2] Adding an activity to schedule"
Is there a way the admin can add "activities" which could then be added to the schedule? For example, a morning keynote, fun activities, a tech talk, etc.

Or will the schedule only be to schedule mentoring sessions?

It would be nice to be able to do it for everything if possible. If this needs to be v2.0, let me know.

[2016-04-29 14:30] greenido commented on #1
Good idea.
We can talk about it for the next version(s).

[2016-04-29 14:33] greenido commented on #2
Have you made sure that as 'startup' (=attendee) is already in the system?
We wish to 'white list' all the participate in advance - so you must enter their name/email/tel and then try to login.

[2016-04-29 14:34] greenido commented on #3
It's mean all the attendees (=startups members) NOT the mentors.
The mentors got their own tab.

[2016-04-29 14:34] greenido commented on #4
I will change it to email next week.

[2016-04-29 14:36] greenido commented on #5
We could but I suggest we avoid it - it will make your life harder in terms of setting the schedule.
Let's talk about it.

[2016-04-29 14:37] #3 closed, assigned to nobody

[2016-04-29 14:38] greenido commented on #6
For now it's only for mentors.
We can talk about it for the future versions.

[2016-04-29 16:32] joshyellin commented on #6
Sounds good. I can probably workaround this easily enough in V1.

[2016-04-29 16:34] joshyellin commented on #5
Ok, sounds good. It proved necessary last time around, at least in the trix. But yes, we can talk about it on Tues stand-up.

[2016-04-29 16:34] joshyellin commented on #4
Cool.

[2016-04-29 16:36] joshyellin commented on #1
Ok, sounds good. We used a defjam site for this last time, but I'd love to get everything on the app (eventually). Next version sgtm.

[2016-04-30 07:13] greenido opened #7 "[feature p1] Testing framework"
Check what will be the best option:
1. https://mochajs.org/
2. http://jasmine.github.io/2.4/introduction.html
3. https://qunitjs.com/

and start executing on it.

[2016-04-30 07:15] greenido opened #8 "[bug] Add Intro to all the apps"
Use: http://introjs.com or JoyRide (from Zurb) and make sure we are showing the power of the apps to each audience (admin, mentor, startup).

[2016-04-30 15:19] greenido commented on #6
Btw, you can do it even now if you create 'mentors' as the activity. Since the key for each mentor is her email - you can put something like: techtalk@room.com and give it a nice name. The attendees will see the name.

[2016-05-02 22:02] joshyellin commented on #6
Awesome, that will work just fine.

On Sat, Apr 30, 2016 at 12:19 PM, Ido Green notifications@github.com
wrote:

##

Joshua Yellin | Developer Platform | jyellin@google.com | (630) 302-1196
<630-302-1196>

[2016-05-03 03:02] joshyellin opened #9 "[Bug] Admin - mentors not removed from dropdown after scheduled"
After scheduling a mentor for a given timeslot, they don't disappear from the dropdown when selecting mentors for other startups.

This would be valuable and would prevent double booking (an issue we dealt with sometimes during bootcamp 1).

[2016-05-03 03:04] joshyellin opened #10 "[Feature] Admin - schedule"
Can we make it so the admin can view the schedule in different formats (view a particular mentors schedule and a particular startup's schedule)?

I'm guessing this is viewable to the startups and mentors within their apps (haven't gotten there yet), but would be nice from within admin portal as well.

[2016-05-03 11:23] joshyellin opened #11 "[Question] Admin - whitelisting"
If the startups and mentors can sign in with their gmail accounts, will the whitelisted email need to be their gmail account? Or could it be their work email even if its not a gmail account?

I found out when nominating startups for GCP credits that many of their work emails are not connected to gmail, but that almost all have a personal gmail account.

[2016-05-03 11:37] joshyellin opened #12 "[Feature] Mentors and startups schedule"
Would be great if mentors and startups could view their schedule at-a-glance (only startup, time and room... no notes), then click into their specific meeting to add notes to it. Right now it's tough to see and comprehend your full schedule.

opening and collapsing might be best so they don't have to jog back and forth between looking "into" a meeting and looking into the general schedule... I'm n

[2016-05-03 11:45] joshyellin opened #13 "[Bug] Attendee registration from admin"
It won't let me "save" a new attendee from the admin side. I was able to add a startup, but wasn't able to add an attendee.

[2016-05-03 11:46] joshyellin opened #14 "[Question] Startups adding info about startups"
I get that mentors will add info about themselves after they are whitelisted... and same with attendees... but what about "startups?"

Will attendees be able to add info about their own companies once they are whitelisted as a member of a specific startup? Or will the admin have to add all the startup details?

[2016-05-03 11:52] joshyellin opened #15 "[Bug] Admin - startup and mentor tiles too big"
Any way we can shrink the size of the startup and mentor tiles (at least from the admin side)? certainly not urgent, but as we get a lot more (over 60 attendees, almost 40 mentors), the list will get really long and it will be hard to see the info at-a-glance.

[2016-05-03 11:53] joshyellin opened #16 "[Feature v2] Working with sheets"
Any chance that we could upload/download data from sheets to/from the app? It would be great to upload mentors, attendees, and startups in one fell swoop. And then also for pulling mentor notes and schedules, etc.

Even if not now, could this be possible in future versions?

[2016-05-03 13:04] joshyellin opened #17 "[Feature] Mentor profile"
Fields to add:

Secondary domain (with same dropdown as "domain")
Sector expertise (i.e., education, biotech, banking, enterprise, etc.)
Twitter handle
short bio
fun fact (let's add this for attendees as well)

[2016-05-03 15:53] greenido commented on #9
They should not be removed. We will create a 'test' feature before save to prevent duplicates.

[2016-05-03 15:54] greenido commented on #10
Good idea.
If I'll have time - we will have it for the beta version (=this LPA).

[2016-05-03 15:55] greenido commented on #11
All must be on gmail account.

[2016-05-03 15:55] #11 closed, assigned to nobody

[2016-05-03 15:56] greenido commented on #12
1. Startup don't have notes only mentors.
2. Mentors - I guess we want 'notes' to be there in order to force them to fill it.

[2016-05-03 15:56] #12 closed, assigned to nobody

[2016-05-03 15:56] greenido commented on #13
Please describe the steps you did... so I could reproduce it.
For me - It's working nicely.

[2016-05-03 15:58] greenido commented on #14
For now, it's all the Admin.
In the future, we could give the attendees the option to fill the details.

[2016-05-03 16:00] greenido commented on #15
It won't be good from the UX point of view.
But you can always use 'cmd +' or 'cmd -' to shrink the tab with the lists.

Btw, the right solution will be to give you a nice way to filter/search this list - but for now, you can use 'cmd-f' and the browser will search for you.

[2016-05-03 16:01] greenido commented on #16
Sure.
In the future.

[2016-05-03 17:55] greenido commented on #17
1. Done - please check both in the admin and the mentor apps.
2. I've added all the fields except 'Sector expertise' as you can fill it in the current expertise field.

[2016-05-03 17:55] greenido commented on #17
I'm closing this one. please open it if you don't see the fields.

[2016-05-03 17:55] #17 closed, assigned to nobody

[2016-05-03 19:51] greenido commented on #1
Btw, you do have the option to add both startups and mentors all the links you wish in their 'comments' field. So it's a solution for the short term.

[2016-05-03 19:51] greenido commented on #2
@joshyellin is it still an issue?
If not - let's close it.

[2016-05-03 19:52] greenido commented on #4
done - please check, confirm and close this ticket.
Thanks :)

[2016-05-04 03:04] joshyellin commented on #15
Ok, sgtm

[2016-05-04 03:04] #15 closed, assigned to nobody

[2016-05-04 05:09] joshyellin commented on #13
<img width="1248" alt="screen shot 2016-05-04 at 2 08 40 am" src="https://cloud.githubusercontent.com/assets/18670546/15005598/2c0936bc-119d-11e6-8ed7-136e3574fcd2.png">

[2016-05-04 05:09] joshyellin commented on #13
I just went there and when I click "save," nothing happens (not even an error message)

[2016-05-04 05:12] joshyellin commented on #2
Can't test it bc I can't add an attendee (issue on a diff thread). Once I successfully can add an attendee, I'll login from that side on the whitelisted email.

[2016-05-04 05:12] #4 closed, assigned to nobody

[2016-05-04 05:31] greenido commented on #13
You are trying it from a new profile in chrome and not the one that you signing to the admin, right?

--from my mobile

[2016-05-04 05:49] joshyellin opened #18 "[Bug] Admin - won't allow a period in email"
System won't allow a period before the "@" in email addresses... simply won't allow you to save the user (mentor or attendee).

[2016-05-04 09:09] greenido commented on #18
Fixed. Please check, confirm and close this one 👍

[2016-05-04 09:12] greenido commented on #13
It's solved in #18

[2016-05-04 09:12] #13 closed, assigned to nobody

[2016-05-04 09:15] greenido commented on #2
Now you can :)

[2016-05-04 12:50] greenido commented on #10
...and we have this new viewer!
It gives you the option to watch a daily schedule per mentor or per startup.
Please check, confirm and close this one. Thx!

[2016-05-04 13:54] greenido commented on #9
The current version is testing to make sure you assign a mentor to more than one startup in a certain hour. Please check.

[2016-05-05 05:17] joshyellin commented on #9
Looks good!

[2016-05-05 05:21] joshyellin commented on #9
Ok, so the error message worked, but then it won't resolve itself (aka when I remove the duplicates and re-save, the error message still appears). I then reset the schedule and created again (with no duplicates) and error message appeared yet again and the schedule even reverted to an older version.

[2016-05-05 05:27] joshyellin commented on #1
Ok, noted, although not ideal as these resources will apply to all members of a particular group (MENTORS or ATTENDEES).

Not a big deal though as I can create a simple defjam site like last time for this if need be, but would be much more desirable to keep it all on app.

[2016-05-05 05:35] #2 closed, assigned to joshyellin

[2016-05-05 05:37] joshyellin opened #19 "[Bug] Startup app - general"
When I login as a whitelisted attendee, I am able to login but can't access any info (everything is blank).

Also, once I'm logged in, I can't log out.

[2016-05-05 06:07] joshyellin opened #20 "[Feature] Mentor app - tap into startup card"
Can't tap into startup cards when logged into the mentor app. I would want to tap into a card to access more info (fundraising, "history link"... which will probably be the one pager). All that's valuable stuff.

Think we can do in v1?

[2016-05-05 06:10] joshyellin opened #21 "[Bug] Startup app - mobile"
Looks good, but no features or access to info.

[2016-05-05 06:31] greenido commented on #21
What do you mean?
The only major function here is to get the schedule.

You should also be able to see a list of mentors and attendees.

[2016-05-05 06:32] greenido commented on #21
This is what I get when I'm login in with my 'attendee' gmail account:
![screen shot 2016-05-05 at 9 32 08 am](https://cloud.githubusercontent.com/assets/61472/15037490/549b26d2-12a4-11e6-83c1-3b91f09d16a4.png)

[2016-05-05 06:35] greenido commented on #9
Please put all the steps to reproduce.

On Thu, May 5, 2016 at 8:21 AM, joshyellin notifications@github.com wrote:

[2016-05-05 06:37] joshyellin commented on #21
<img width="1280" alt="screen shot 2016-05-05 at 3 37 11 am" src="https://cloud.githubusercontent.com/assets/18670546/15037568/b5a3f922-1272-11e6-93ec-bedbe56f65b2.png">

[2016-05-05 06:38] joshyellin commented on #21
It's glitching a little... won't let me sign out and sign back in. I'll try to restart my machine tomorrow and give it a fresh go.

[2016-05-05 07:13] greenido commented on #21
The best will be to open a incognito window each time - so you starting
with clean on each test.

On Thu, May 5, 2016 at 9:38 AM, joshyellin notifications@github.com wrote:

[2016-05-05 09:21] greenido commented on #21
btw, it seems that your attendee user doesn't have a name.
You must have a name and email for each user.

[2016-05-05 09:39] greenido commented on #20
Will try!!

[2016-05-05 09:51] greenido commented on #20
Please check. I've added all the parameter we holding.
For V1 - The history file should be a link to a google doc...

[2016-05-05 10:11] greenido commented on #19
1. I've added this functionality. Now, any attendee can update her details.
2. As for the logout issue - please open a separate ticket (only one item per ticket - please! :) with the steps to reproduce. For me it's working...

[2016-05-07 14:37] greenido opened #22 "[feature] Add a way in the admin to add rooms/locations"
1. Name
2. Address
3. Comments

[2016-05-08 00:58] joshyellin commented on #19
Discovered more here... the startup app just won't work with my personal email: josh.yellin@gmail.com.

I'm able to add that email as a startup (which wasn't possible before because of the ".") but it still won't actually show any startups or mentors when I sign in with that email. I'm thinking there is still a problem with the app recognizing that email because of the period. What do you think?

[2016-05-08 00:59] joshyellin commented on #19
Also, the logout issue is linked with this issue... emails with periods before the @ seem to be giving the app some trouble.

[2016-05-08 01:00] joshyellin commented on #21
This issue is being addressed in another ticket.

[2016-05-08 01:00] #21 closed, assigned to joshyellin

[2016-05-08 01:02] joshyellin commented on #20
Looks great!

[2016-05-08 01:02] #20 closed, assigned to joshyellin

[2016-05-08 01:03] #18 closed, assigned to joshyellin

[2016-05-08 01:04] joshyellin commented on #10
Looks great!

[2016-05-08 01:04] #10 closed, assigned to joshyellin

[2016-05-08 01:10] joshyellin commented on #9
1. Assigned mentor to 2 startups in same timeslot
2. Clicked "Save Schedule"
3. App produces error message - "Yo! You have assign the same mentor to more then one startup at: 9:00 - 10:00 - Please fix it as we can't split mentors (yet).  Wanna save it anyway?"
4. Changes are then made to resolve this (mentor only in one place at one time)
5. Clicked "Save Schedule"
6. Error message comes up again.

[2016-05-08 01:12] joshyellin commented on #1
Let's discuss this... I think it wouldn't be hard to add, and would love to have it for V1. If we can do this, we can avoid the defjam site altogether.

[2016-05-08 05:32] greenido commented on #9
The error comes with a different hour, no?
Check and again and please let me know.

[2016-05-08 06:54] greenido commented on #1
Please add here an example to such 'resources' note.

On Sun, May 8, 2016 at 4:12 AM, joshyellin notifications@github.com wrote:

[2016-05-08 07:02] greenido commented on #19
It should be fixed now.
please check, confirm and close this one.

[2016-05-08 08:39] greenido commented on #22
Done.
You can now add locations.

[2016-05-08 08:39] greenido commented on #22
Please check and close... thx!

[2016-05-08 11:09] greenido commented on #8
@joshyellin FYI: Mentor app + Attendees app are **done**.

[2016-05-09 02:12] joshyellin commented on #8
Hell yes.

On Sun, May 8, 2016 at 8:09 AM, Ido Green notifications@github.com wrote:

##

Joshua Yellin | Developer Platform | jyellin@google.com | (630) 302-1196
<630-302-1196>

[2016-05-09 02:22] joshyellin commented on #22
Where do you add the locations?  I see the options in the scheduler, but not sure how to add/edit/remove.

[2016-05-09 03:47] joshyellin commented on #19
Yep, fixed.

[2016-05-09 03:47] #19 closed, assigned to joshyellin

[2016-05-09 03:50] joshyellin commented on #9
No, not a different hour. It just doesn't resolve the original conflict, even after I change it.

[2016-05-09 05:16] greenido commented on #9
It's working for me. So let's try to do it step by step.
1. Make sure you set ALL the mentor per hour.
2. If you leave N-A you will get this error.
3. Do it step by step with the names so I could replicate it.

Thanks.

[2016-05-09 05:20] greenido commented on #22
Refresh cache and/or start in incognito window.

--from my mobile

[2016-05-09 08:59] greenido commented on #8
It's now in all the apps.

[2016-05-09 11:31] joshyellin commented on #8
Amazing.

[2016-05-09 11:31] #8 closed, assigned to joshyellin

[2016-05-09 11:47] joshyellin commented on #5
I'm hoping we can discuss this before writing it off

[2016-05-09 11:53] joshyellin commented on #9
Then the issue was with the N-A.

Regarding the N-A, there will be a lot of timeslots where the startup won't be assigned a mentor (free-time, work-time, etc.). What does admin do then?

[2016-05-09 11:54] joshyellin commented on #22
Got it now.  :)

[2016-05-09 11:54] #22 closed, assigned to joshyellin

[2016-05-09 12:42] greenido commented on #5
I have closed it since it's not something we are going to change for V1.
As for V2 - please open a new ticket with a detailed feature request.

[2016-05-09 12:42] #5 closed, assigned to greenido

[2016-05-09 12:43] greenido commented on #9
Nothing - It's just a warning.

On Mon, May 9, 2016 at 2:53 PM, joshyellin notifications@github.com wrote:

[2016-05-09 18:19] joshyellin opened #23 "[Bug] Admin - copyedit on error message"
Error message in scheduler needs slight correction.

Current message:
"Yo! You have assign the same mentor to more then one startup at: 9:00 - 10:00 - Please fix it as we can't split mentors (yet).
Wanna save it anyway?"

Updated message:
"Yo! You have assigned the same mentor to more than one startup (at least during 9:00 - 10:00). Please resolve this as we can't split mentors (yet).
Wanna save i

[2016-05-09 18:25] greenido commented on #23
Cool!
I'll fix it first thing in the morning

--from my mobile

[2016-05-09 19:31] joshyellin opened #24 "[Feature] Mentor app - impromptu feedback/notes"
Paco brought up a good point. Can we add a feature where mentors and startups can add notes/homework/etc. from impromptu meetings, as there will be a lot of unscheduled conversations.

Most of these won't warrant tracking, but some def will.

Thoughts?

[2016-05-09 19:43] joshyellin commented on #9
Cool. Any way to remove the warning with it's the N-A that provides a
conflict? Because I would want to be warned about other conflicts, but
don't need to be warned about N-A double booking.

On Mon, May 9, 2016 at 5:43 AM, Ido Green notifications@github.com wrote:

##

Joshua Yellin | Developer Platform | jyellin@google.com | (630) 302-1196
<630-302-1196>

[2016-05-09 23:12] joshyellin opened #25 "[Feature] Admin - schedule"
We often scheduled 2 mentors for one session, predominantly to serve as a learning opportunity for one of the mentors.

Can we build in an option to schedule 2 mentors in one session?

[2016-05-10 07:28] greenido commented on #25
You can do it by adding a note/comment to the mentor for the day.
I don't see us creating another option for now.

On Tue, May 10, 2016 at 2:12 AM, joshyellin notifications@github.com
wrote:

[2016-05-10 07:55] greenido commented on #23
fixed.

[2016-05-10 07:56] greenido commented on #9
The warning on N/A was removed.
Please make sure you don't touch the mentor's details we are using for N/A.

[2016-05-10 08:06] greenido commented on #24
Mentors can save 'free' notes today in the history file we got per startup.
This history file will be a google doc for now.

As for attendees - let's talk about it. We can do the same with them.

[2016-05-11 04:43] #23 closed, assigned to joshyellin

[2016-05-11 04:45] joshyellin commented on #25
That makes sense.

[2016-05-11 04:45] #25 closed, assigned to joshyellin

[2016-05-11 04:48] joshyellin commented on #1
Check the [defjam site from bootcamp 1](https://events.withgoogle.com/bootcamp1/resources-for-mentors/) to get what I mean. It would house links to speaker decks, forms, etc.

[2016-05-11 04:51] joshyellin commented on #9
Copy that

[2016-05-11 04:51] #9 closed, assigned to joshyellin

[2016-05-11 04:53] joshyellin commented on #24
Cool. We'll walk through this at next standup meeting

[2016-05-11 15:27] greenido commented on #1
OK - I see what is the need here.
1. For the attendees you have the option today to put all the details in the 'daily' comments that they see in the top of their schedule.
2. As for the mentors - I'll create something if I will have time for V1.

[2016-05-23 18:55] joshyellin opened #26 "[Bug] Admin - mentor enrollment, domain dropdowns"
We need a (N/A) for secondary domain in the dropdown (some mentors don't have a secondary).

We also need "other" or "Google Product" or something for both primary and secondary (for example, when we have Googlers mentor toward a specific product).

[2016-05-23 19:06] joshyellin opened #27 "[Bug] Mentor, Startup - Mentor profile view"
From what I can tell, you can only view mentor profiles from the Admin app. The startups (and mentors) should be able to peruse through the mentor profiles as well. Startups, to prep for their next 1:1 meeting; mentors, for networking and their own interest.

[2016-05-23 19:26] joshyellin opened #28 "[Enhancement] Admin - mentor cards"
The mentor cards (before expanding) have name and phone number. Can we change the phone number to email, photo, or primary expertise? I think that will be more valuable at-a-glance info. I'm open to whichever you prefer of those options.

[2016-05-23 19:33] joshyellin opened #29 "[Bug] Admin - adding new mentors"
When adding new mentors, you have to save the previous one, then click "clear," and then not everything clears (twitter, bio, etc.), so you have to manually delete.

_[Ideal scenario - there is an "add new mentor" button; when you click on a mentor you are in "view mode" and can then click the edit button to begin to make changes (right now there is only edit mode).]_ I will move this portion to a

[2016-05-23 19:35] joshyellin opened #30 "[Enhancement] Admin - adding new mentors"
there is an "add new mentor" button

[2016-05-23 19:37] joshyellin opened #31 "[Enhancement] Admin - mentor cards"
There is an optimized "view mode" and can then you could click the edit button to begin to make changes (right now there is only edit mode).

[2016-05-23 19:45] joshyellin opened #32 "[Enhancement] Admin - mentor scheduling"
Can we put in the days mentors will be available to mentor and have that reflected on the schedule? For example, we will probably have ~50 mentors in our system, but only ~20-25 helping on any given day. If we can put the days they'll be in the space in their mentor profile and have them only show up on the schedule on those given days, that would be ideal. Better yet, if there was a mentor availa

[2016-05-23 19:49] joshyellin opened #33 "[Question] Admin - "comments for the day""
Where do the "comments for the day" (editable from the scheduler) show up for the mentors and startups?

[2016-05-24 04:05] greenido commented on #33
Open the mentors (or startups) app and you will see. It's in their daily
schedule at the top.

On Mon, May 23, 2016 at 12:49 PM, joshyellin notifications@github.com
wrote:

[2016-05-24 04:06] #33 closed, assigned to joshyellin

[2016-05-24 05:32] joshyellin opened #34 "[Bug] Admin - mentor domain"
I think we need to add monetization

We also need to look collectively at all the categories and give them definitions (as it's becoming a little blurry). But at least for now, I think we need to add monetization as folks have defined themselves as such.

[2016-05-24 07:24] greenido commented on #28
No - we don't have the space for it.

[2016-05-24 07:24] #28 closed, assigned to greenido

[2016-05-24 07:25] greenido commented on #34
Before I'm adding anything, let's have a list of categories that we are all happy with.
/cc @RanNachmany

[2016-05-24 07:28] greenido commented on #32
Let's keep it for v2 and see if/how we can solve this issue.

[2016-05-24 07:29] greenido commented on #31
No idea what you mean here.

[2016-05-24 07:29] greenido commented on #30
No need for such a button. You can click 'clear' and from there you can add a new one.

[2016-05-24 07:29] #30 closed, assigned to greenido

[2016-05-24 07:31] greenido commented on #29
The ideal is the 'clear' version since it gives what you want.
We need to make sure it's clearing every input field.

[2016-05-24 09:02] greenido commented on #29
fixed - please check.

[2016-05-24 12:36] greenido commented on #34
Btw, the current domains are:
- UX
- Tech
- Product
- Marketing
- Business
- Monetization

[2016-05-25 00:09] joshyellin commented on #34
- Fundraising (when we have investors come through).

Many have self-selected this as their primary domain.

[2016-05-25 00:14] joshyellin commented on #29
works

[2016-05-25 00:14] #29 closed, assigned to joshyellin

[2016-05-25 00:18] joshyellin commented on #31
I think the "clear" fix more or less addressed this.

[2016-05-25 00:18] #31 closed, assigned to joshyellin

[2016-05-25 07:17] greenido commented on #34
Done - please check and close.

[2016-05-25 17:58] joshyellin commented on #34
Looks good!

[2016-05-25 17:58] #34 closed, assigned to joshyellin

[2016-05-26 08:16] greenido commented on #27
You can now see the mentors both on the startup app and on the mentor app.
Please check and close. Thx!

[2016-05-26 08:20] greenido commented on #26
1. It's fixed - please check and close this ticket.
2. Please separate these to 2 tickets in the future.

[2016-05-27 06:37] joshyellin commented on #26
Thanks, and noted.

[2016-05-27 06:37] #26 closed, assigned to joshyellin

[2016-05-27 06:39] joshyellin commented on #27
Looks good!

[2016-05-27 06:39] #27 closed, assigned to joshyellin

[2016-05-30 19:10] joshyellin opened #35 "[Question] Enrollment - gmail or google email?"
When I put in google.com email addresses the system says it must be a gmail address....

Can these email addresses be connected to gmail through apps for work or do they need to actually end in @gmail.com?

[2016-05-30 19:28] joshyellin opened #36 "[Enhancement] Admin - attendee profile"
Can we add "position" for attendees? To put in CEO, CTO, etc.

[2016-05-30 20:05] joshyellin opened #37 "[Enhancement] Attendee - notes"
Might want to add "notes" for attendees in addition to mentors. We can probably wait til after some upcoming meetings that will determine our data collection strategy, but wanted to flag this before I forgot.

[2016-05-30 20:24] joshyellin opened #38 "[Bug] Mentor app - notes didn't show up for another mentor"
When I left notes as one mentor (Josh Yellin left notes for Emprego Ligado), it didn't show up for another mentor (Launchpad Accelerator).

[2016-05-30 20:27] joshyellin opened #39 "[Question] Admin - naming mentors"
When I name a mentor from admin, and then the mentor logs in for the first time, it changes some of the basic info to match their Google profile.

Is this by design or is it doing it automatically by accident?

I'm not sure how big of a problem this is, but it would may create some inconsistencies.

[2016-05-31 05:03] greenido commented on #39
It's by design.

--from my mobile

[2016-05-31 05:20] joshyellin commented on #38
Played around with this--was able to successfully leave a note, but it was only with one of the original fake companies (eat with me). When leaving notes for the new ones, they don't show up.

[2016-05-31 05:25] joshyellin opened #40 "[Bug] Admin - scheduler error message"
Can we make the error message more robust?

Right now, everyday there will 1:many content, which means a single mentor will be repeated for all. This will always happen from 9am-10am everyday, and then also at other times.

Right now this returns "repeat mentor from 9am-10am, is that ok?"  I say ok, no problem there. The problem exists when there are other duplicates that may happen on accident. I

[2016-05-31 05:27] joshyellin commented on #39
Cool.

[2016-05-31 05:27] #39 closed, assigned to greenido

[2016-05-31 07:15] greenido commented on #38
Please put here all the steps you did so I can reproduce it.
When you add a note for the startup - the other mentors should click on 'Notes' button in order to see all the notes that this startup got.

[2016-05-31 07:40] greenido commented on #40
You can now see all the errors in one big message.

[2016-05-31 07:43] greenido commented on #35
1. For mentors you can have gmail or google.com emails.
2. For attendees - you need their gmail.

[2016-05-31 11:15] RanNachmany commented on #35
Why the limitation? The Android app will support both and I think web app
should too. The reason is that attendees that are working in startups will
prefer to use their work email which (in most cases) is a google account.

Ran

On Tue, May 31, 2016 at 10:43 AM, Ido Green notifications@github.com
wrote:

[2016-05-31 11:55] greenido commented on #35
because if we won't limit it - it might open a can of worms in all the
cases where the email they gave is NOT a google account.

On Tue, May 31, 2016 at 2:15 PM, Ran Nachmany notifications@github.com
wrote:

[2016-05-31 14:32] joshyellin commented on #38
1) signed in with Josh Yellin
2) went to my schedule
3) selected May 13
4) Left comments on a startup meeting for GetNinjas and Emprego Ligado and clicked save
5) went to startups
6) clicked "notes" for that startup
7) Nothing happened... didn't even say "no notes"
8) This, however, worked with Eat With Me (one of the previously loaded startups)... notes seem to be working with that one.

[2016-05-31 14:36] joshyellin opened #41 "[Bug] Mentor - saving notes"
Right now you can only save notes one at a time... If, for example, you type notes into each note box, then click save when you're done, this will erase all entries except for the one you clicked save for.

Ideally mentors would do this after each session, but the way it usually works is they'll do a few sessions, find a minute, and then leave notes for all of them. I'm concerned what will happen

[2016-05-31 15:05] greenido commented on #41
We are going to have a 'save' note per meeting.
They should click on 'save' after each notes that they are taking.

The notes aren't erased UNLESS you change the schedule...

[2016-05-31 15:06] greenido commented on #38
Please try again... I think it's fixed now.

[2016-05-31 15:07] joshyellin commented on #40
looks good!

[2016-05-31 15:07] #40 closed, assigned to joshyellin

[2016-05-31 15:14] joshyellin commented on #41
The notes won't be erased if they are saved, I agree, but they will be erased if you type in two text boxes, click save for one text box but haven't clicked "save" yet on another. See below, for example. If neither is saved, and then I click save for one, it will erase the other.

This can probably be curbed with coaching ahead of time, but I imagine some others (as I did) will leave notes for a f

[2016-05-31 15:17] joshyellin commented on #38
Yes, it works now. 👍

[2016-05-31 15:17] #38 closed, assigned to joshyellin

[2016-05-31 15:36] greenido commented on #41
I've changed the UI so it's now clear you can only save one note at a time.
Please check it out.

[2016-05-31 15:44] joshyellin commented on #41
Yes, I think that solves the issue.

[2016-05-31 15:44] #41 closed, assigned to joshyellin

[2016-06-01 03:47] joshyellin opened #42 "[Bug] Admin - mentor account setup"
I can't seem to be able to whitelist google.com email addresses. I'm trying to whitelist Dan as a mentor but it won't work (says please enter a google or gmail email).

[2016-06-01 04:50] greenido commented on #42
Fixed.
Please check.

On Wed, Jun 1, 2016 at 6:47 AM, joshyellin notifications@github.com wrote:

[2016-06-01 04:53] joshyellin commented on #42
resolved.

[2016-06-01 04:53] #42 closed, assigned to greenido

[2016-06-05 09:07] greenido commented on #36
Done.
Please check it in the 3 apps and close this one.

[2016-06-05 09:08] #35 closed, assigned to joshyellin

[2016-06-05 09:09] greenido commented on #24
Closing this one because for the near future we are going to allow only mentors to use the app for notes.
Attendees should use a trix they share (and we should offer a template for that trix)

[2016-06-05 09:09] #24 closed, assigned to joshyellin

[2016-06-05 18:11] joshyellin commented on #36
Looks good! Final tiny adjustment-- text should be: CEO, CTO, etc.
Currently is:
<img width="257" alt="screen shot 2016-06-05 at 11 10 17 am" src="https://cloud.githubusercontent.com/assets/18670546/15807267/29ad0bb6-2b0e-11e6-8572-1de9c422aba1.png">

[2016-06-05 21:31] joshyellin opened #43 "[Question] Admin - dApplication video url"
The startup application videos are not hosted anywhere publicly accessible and some startups don't have one. Should we still include those in the app?  I motion to remove for V1.

[2016-06-05 21:35] joshyellin opened #44 "[Question] Admin - startup date founded"
Can we make the format MM/YYYY and not include day? We don't have the info from anyone so I'm putting "1" for now, but it's arbitrary.

[2016-06-05 21:37] joshyellin opened #45 "[Bug] Admin - Startup history file url"
History file url is still in the startup profile. You may have it on your to-do list, but I thought i'd make a ticket in case.

[2016-06-06 01:57] joshyellin opened #46 "[Enhancement] Admin - Team photo"
We don't have a team photo for most teams. Can team photo just pull from the individual attendee photos once they're assigned to a startup?

[2016-06-06 05:59] greenido commented on #46
No.
But let's ask them for a team photo...
Another way will be to take a photo at the start of the Lpa.

--from my mobile

[2016-06-06 06:06] joshyellin commented on #46
Yes, I think that's our best bet. We'll have a photographer there as well,
so it shouldn't be hard.

On Sun, Jun 5, 2016 at 10:59 PM, Ido Green notifications@github.com wrote:

##

Joshua Yellin | Developer Platform | jyellin@google.com | (630) 302-1196
<630-302-1196>

[2016-06-06 06:48] greenido commented on #46
excellent!

On Mon, Jun 6, 2016 at 9:06 AM, joshyellin notifications@github.com wrote:

[2016-06-06 06:54] RanNachmany opened #47 "realtime db is not updated when removing a mentoring session for mentor"
To Reproduce:
1. Add mentoring session: Mentor X, Startup Y, time: Z.
2. Click "save" and verify at Firebase DB that this session was added at Firebease ref: sessions->date->mentor-X->hour-z
3. Go back to LPA-1 admin, and assign a different mentor to Startup Y at time Z. (i.e change mentor from X to something else)
4. Click save  and watch the firebase database ref sessions->date->mentor-X->hour-z

[2016-06-06 09:05] #46 closed, assigned to greenido, joshyellin

[2016-06-06 09:12] greenido commented on #45
fixed.

[2016-06-06 09:14] greenido commented on #43
There are on youtube... and it is a good way for the mentor to learn more about the startups.
Why won't we update it?

[2016-06-06 09:17] greenido commented on #36
fixed

[2016-06-06 09:30] greenido commented on #44
1. You can choose any day you wish.
2. The mentors will see yyyy-mm.

[2016-06-06 09:51] greenido commented on #47
Fixed.
Please confirm and close this ticket.

[2016-06-06 23:49] #45 closed, assigned to joshyellin

[2016-06-06 23:50] joshyellin commented on #44
sg

[2016-06-06 23:50] #44 closed, assigned to joshyellin

[2016-06-06 23:51] joshyellin commented on #43
I figured the permissions were tight on most of them. I will see what sort of coverage we have here. Will probably have videos for 15/24 startups or so.

[2016-06-06 23:52] #36 closed, assigned to joshyellin

[2016-06-06 23:54] joshyellin commented on #6
looks like I can still do this, but just need to say @google.com

[2016-06-06 23:54] #6 closed, assigned to greenido

[2016-06-07 07:49] #47 closed, assigned to nobody

[2016-06-07 11:20] greenido commented on #43
1. All the startups should have a video.
2. In all the cases it should be on youtube with permission of 'unlisted' - so anyone with a direct link can view it.

[2016-06-07 11:20] #43 closed, assigned to joshyellin

[2016-06-07 15:05] joshyellin commented on #43
They don't because not all actually applied through the application. They
were supposed to but not all did. I'll upload the video for those that did,
however.
On Jun 7, 2016 4:20 AM, "Ido Green" notifications@github.com wrote:

[2016-06-07 15:46] greenido commented on #43
For the ones that don't have one - let's ask them to create one and upload
it.
It's important that the mentors could see this video before the sessions.

On Tue, Jun 7, 2016 at 6:05 PM, joshyellin notifications@github.com wrote:

[2016-06-07 17:48] RanNachmany opened #48 "Verify that an email belongs to Google Apps domain when whitelisting mentors and attendees."
In order to check if an email belong to Google Apps domain, send the following request: https://www.google.com/a/mydomain.com/ServiceLogin
If it is not a Google Apps domain, you'll get an error page saying:
"Google Apps - Server error
Server error
Sorry, you've reached a login page for a domain that isn't using Google Apps. Please check the web address and try again"

If it is a Google App domain

[2016-06-07 19:20] RanNachmany opened #49 "Mentoring session notes"
Each mentor and startup will answer 4 questions after (hopefully) every session.
**Mentor**
1. (receptive) Did you feel that the startup was open and receptive to hear your feedback and advice? (slidebar from 0 to 5)
2. (effective) Do you think the session was effective? (slide bar 0-5)
3. (notes) What did you talk about? please write down 1 or 2 challenges that you have discussed during the sessi

[2016-06-08 05:05] RanNachmany opened #50 "Mentor App - show today's schedule by default."
Scenario:
1. Open the mentor web app.
2. Login.
3. You are redirected to the schedule tab, but no date is chosen. Instead of seeing a schedule you see a very nice picture.
Requited behavior: redirect to the schedule tab and display today's schedule by default.

[2016-06-08 07:13] RanNachmany opened #51 "Remove the conversation tab for V1."
Although we do want to have chat embedded in the app, I'm not sure we will have it ready by Sunday and it is not P0 IMHO.
Let's hide it until we have proper chat functionality

[2016-06-08 09:25] greenido commented on #51
fixed.

[2016-06-08 09:25] greenido commented on #50
Fixed - please confirm and close.

[2016-06-08 09:35] greenido commented on #48
You can't do it from the web.
See: No 'Access-Control-Allow-Origin'

[2016-06-08 09:35] #48 closed, assigned to greenido

[2016-06-08 11:35] greenido commented on #49
@RanNachmany wdyt?
I'm merging 3 and 4 to one text box. It's more effective.
See below:
![localhost-8888-lpa-1-index-mentor html nexus 6p](https://cloud.githubusercontent.com/assets/61472/15893096/47be9820-2d86-11e6-8b0a-8aa6df81626b.png)

[2016-06-08 16:27] joshyellin opened #52 "[Bug] Mentor - login error"
A slight language issue:

1) Click "sign in" in the mentor app
2) exit out of the allow-or-deny pop-up
3) this pops up
<img width="449" alt="screen shot 2016-06-08 at 9 21 45 am" src="https://cloud.githubusercontent.com/assets/18670546/15902032/cfe1b236-2d5a-11e6-83c4-eddbec8d49df.png">

Language should be:

"Oops... there was a little problem.

Please check again, and try clicking "Allow," cool?

[2016-06-08 16:33] joshyellin opened #53 "[Bug] Admin - mentor notes"
Can't see mentor notes from the admin app. Right now I can only add startups, mentors, and agenda... hoping for complete visibility.

[2016-06-08 16:34] joshyellin opened #54 "[Bug] Admin - startup notes"
Can't see startup/attendee notes from the admin app. Right now I can only add startups, mentors, and agenda... hoping for complete visibility.

[2016-06-08 16:35] #51 closed, assigned to joshyellin

[2016-06-08 16:58] greenido commented on #54
not going to V1 - save it for the future.

On Wed, Jun 8, 2016 at 7:34 PM, joshyellin notifications@github.com wrote:

[2016-06-08 20:04] joshyellin opened #55 "[Bug] Admin - schedule deletion"
I just accidentally deleted the schedule a little too easily.

I selected the date I wanted to pull up (June 13th) and then clicked "save schedule" instead of "reload" and it deleted the entire schedule for June 13th. I can see this happening again.

Can we at least get a message to pop up to say (are you sure you want to save this day's schedule as you see here?) to help prevent this from happeni

[2016-06-09 04:42] joshyellin commented on #50
confirmed

[2016-06-09 04:42] #50 closed, assigned to nobody

[2016-06-09 08:49] greenido commented on #52
Fixed.

[2016-06-09 09:27] greenido commented on #55
Fixed.

[2016-06-09 09:28] greenido commented on #53
Not for V1. Keep it for now.

[2016-06-09 11:45] greenido commented on #37
These are the questions/notes we wish:
1. Did the mentor listened to you and reasoned his advices? (text)
2. Was the session effective? (slider 1-5)
3. What did you talk about?
4. What are your next steps and action items?

[2016-06-09 15:54] #52 closed, assigned to joshyellin

[2016-06-09 16:14] joshyellin commented on #53
Ok, recommend admin use a mentor profile to access the info?

[2016-06-09 16:16] greenido commented on #53
Until v2 - yes!

--from my mobile

[2016-06-09 16:24] joshyellin commented on #37
Some tiny grammatical edits for the first point:
1. Did the mentor listen to you and explain their advice? (slider 1-5)
2. Was the session effective? (slider 1-5)
3. What did you talk about? action items?

[2016-06-10 03:42] joshyellin opened #56 "[Question] Mentor app - notes ad hoc"
I know you answered this before, but I was thinking about it again and don't think I have a clear understanding... Can mentors leave notes about a startup ad hoc? I don't see a way to do it (and I think we said there wasn't a way) but I may be missing something.

I'm just thinking there will be a lot of mentor sessions that will happen spur of the moment. A lot of mentors that are just going to be

[2016-06-10 05:32] greenido commented on #56
1. As a feature it will be to V2 or V3.
2. But you can have it for this beta in two ways:
   a. Create for all the mentors a predefine meeting with each startup on a date that is not part of the LPA. Let's say a week before. This will give each mentor the ability to fill details on each startup. However, you should tell all the mentors about this hack.
   b. The mentor should tell you who they are

[2016-06-10 09:20] joshyellin opened #57 "[Question] - Admin app - Startup resources"
We discussed this before, but I want to revisit. I will need some way to share links to speaker decks with the startups as well as surveys, etc. Doing this via email won't be the right answer.

Last time I created a defjam site to host this, and I can do that again if need be.

If not for V1, I'd love to have a way as admin to post up resources for startups, resources for mentors, and general prog

[2016-06-10 09:22] joshyellin commented on #56
Good hacks to note. Thanks.

switched to "enhancement"

[2016-06-10 13:18] greenido commented on #57
Please use the 'comments for the day' feature and let me know.
Thanks!

[2016-06-10 13:19] #49 closed, assigned to greenido

[2016-06-10 14:29] greenido commented on #37
Done.
Please check it!

[2016-06-10 16:16] #55 closed, assigned to joshyellin

[2016-06-10 17:16] solsona opened #58 "Support for impromptu meetings"
In my experience, participants of startups (and mentors) will have conversations, outside of the scheduled ones. For instance to review an assignment, offer more information or simply follow up on an specific topic.

It would be enough to let the mentor to add a note from the Startups list, maybe:

[Intro clip] [Notes] **[Add note]**

[2016-06-10 19:07] greenido commented on #58
Thanks! We thought about it and we got a solution for that.

@joshyellin we have the 'pre-defined' schedule that I told you about.
Please update the mentors about it.

[2016-06-10 21:13] joshyellin commented on #58
@greenido if we set a meeting with a mentor with every startup on a given day to allow for ad hoc notes, then they would have to double down on a time slot (something the app doesn't like). To make it work, they would have to be spread out over a few days... it might become a confusing workaround.

Any ideas on how to streamline it?

[2016-06-10 22:02] joshyellin commented on #57
That will go to each startup... is there a way to do comments for the day for mentors?

[2016-06-10 22:50] greenido commented on #58
You do it on a date that is before the LPA.
In this day you adding every mentor to every startup.

--from my mobile

[2016-06-10 22:51] greenido commented on #57
Not for V1.

--from my mobile

[2016-06-10 23:01] #57 closed, assigned to greenido

[2016-06-10 23:02] joshyellin opened #59 "[Enhancement] Mentor and admin - mentor comments for the day"
Comments for the day for mentors

[2016-06-10 23:04] joshyellin opened #60 "[Enhancement] Admin - startup and mentor resources"
Having a tab in the mentor and startup apps for resources; for startups and mentors.

A place to have links to speaker decks, forms, etc.

[2016-06-10 23:04] #60 closed, assigned to greenido

[2016-06-10 23:16] joshyellin commented on #58
That's really tricky, though, because you can't have a mentor be in 2 places at once in the app, so you cant just assign them to all the startups in one timeslot (unless that has changed)... and even if you could, you could only schedule 9 mentors per day. We could communicate to each mentor what their particular fake day is, but it will start to get hair.

Sorry for continuing to push on this iss

[2016-06-11 00:03] joshyellin opened #61 "[Bug] All apps - wizard"
The wizard kicks in on all apps everytime you load each app (but before logging in). So it always thinks its your first time.

Can we make the wizard only kick in after someone logs in, and only after their first time logging in?

[2016-06-11 00:14] melinanina opened #62 "[Bug] No access to edit schedules"
I'm logged into the admin web app, and I cannot set schedules but Josh can.

[2016-06-11 00:25] melinanina opened #63 "[Bug] I can add notes as a mentor but not startup"
On schedule viewer from admin app
1. click on mentor -> select date -> reload: I can see text boxes for each appointment to add notes.
2. click on startup -> select date -> reload: I cannot see a text box to add notes.

[2016-06-11 06:32] greenido commented on #63
@joshyellin please assign @melinanina a startup (=our google test) and make sure we have sessions.
The notes should be there.

[2016-06-11 06:33] #63 closed, assigned to nobody

[2016-06-11 06:33] greenido commented on #62
@melinanina it's by design! :)
Only the admin can do that.

[2016-06-11 06:33] #62 closed, assigned to nobody

[2016-06-11 06:35] greenido commented on #61
It's not kicking for me. Please describe in details what is happening to you.

[2016-06-11 06:39] greenido commented on #58
1. The enforcement is just a suggestion, so you can have more than one mentor per startup.
2. You can take a week (the week before the LPA) and make sure each mentor have 3 days with all the startups.
3. Let's not forget that if a mentor is just 'bumping' into a startup they can talk with you and you can set a 'normal' time slot - so they can fill it with the correct dates. So 1 and 2 are only to

[2016-06-11 07:30] joshyellin commented on #61
This was an issue Melina pointed out (and I saw it happening on a screenshare), but it's not repeating for me either.

[2016-06-11 07:31] #61 closed, assigned to joshyellin

[2016-06-11 07:31] greenido commented on #61
Ok.
Next time, let's try to put the 'steps to reproduce'...

On Sat, Jun 11, 2016 at 10:30 AM, joshyellin notifications@github.com
wrote:

[2016-06-11 07:37] joshyellin opened #64 "[Bug] Mentor - startup videos"
Most of the startup videos don't work, although the urls seem to be put in correctly.

[2016-06-11 07:41] greenido commented on #64
Make sure it's a YouTube link

--from my mobile

[2016-06-11 08:09] joshyellin opened #65 "[Question] Admin - scheduler"
Had a breakthrough idea with Melina that may be able to solve a lot of the scheduling issues in V1.

For the scheduler, can we remove the time dependency of the schedule? Rather than book by timeslot, can we book by appointment number?  For example, let's say you pull up June 13th... what if instead of timeslots (9-10, 10-11, etc.) it was just Appointment 1, 2, 3, etc? Then I could handle the agen

[2016-06-11 08:15] joshyellin commented on #64
will it not work if its vimeo?

And I see some of them that are not working have the shortlink (youtu.be)

On Sat, Jun 11, 2016 at 12:41 AM, Ido Green notifications@github.com
wrote:

##

Joshua Yellin | Developer Platform | jyellin@google.com | (630) 302-1196
<630-302-1196>

[2016-06-11 10:01] greenido commented on #64
So paste the real YouTube and not the short link.
As for Vimeo - it should work.
In case you see some link that doesn't - please put it in the ticket.

--from my mobile

[2016-06-11 10:06] greenido commented on #65
The idea of time slots is by design.
The limit of an hour is (again) by design and we put a lot of thinking into it.

We can talk about new ideas after this LPA. For this one, please use this schedule and make sure all the mentors/startups got meetings. This is the only way for them to be efficient with the app and to take notes.

--from my mobile

[2016-06-11 15:04] melinanina commented on #62
Can you please make me an admin? I'm helping Josh with the schedule next
week.
On Jun 10, 2016 23:34, "Ido Green" notifications@github.com wrote:

[2016-06-11 17:04] joshyellin commented on #65
I hear you, and I understand it was by design. I was proposing we roll that
feature back for the launch (like the chat) and do the hour-by-hour
scheduling outside the app for V1 (but doing all else within it). I'd feel
more comfortable running the event if we did.

Sorry for proposing this idea so late, but only struck upon it yesterday
with Melina.

I'll still make the agenda the old way (in a tr

[2016-06-11 17:13] joshyellin opened #66 "[Bug] Video - Emprego Ligado video link"
Emprego Ligado video link not working. It's a vimeo link, full url, presents this screen:

<img width="612" alt="screen shot 2016-06-11 at 10 13 03 am" src="https://cloud.githubusercontent.com/assets/18670546/15986446/1bd22e8c-2fbd-11e6-931c-236e8d2a404a.png">

[2016-06-11 17:13] joshyellin commented on #66
I should mention... while accessing from mentor app

[2016-06-11 17:22] joshyellin commented on #66
Same thing with AppProva, which is full youtube link.

I think there's a systemic issue here. This is the case for almost all of the video links.

GetNinjas, Hijup, and IDNTimes are the only ones that work.

[2016-06-11 17:42] greenido commented on #65
The only way to work with all the apps is by using the current scheduler.
Please use it and don't change anything in that method as it's the core for everything.

I don't understand why a trix is better at this stage but it's not important.
Please use the scheduler of the app.

--from my mobile

[2016-06-11 17:43] greenido commented on #66
Please Add the links that are creating the problem in this ticket.

--from my mobile

[2016-06-11 17:44] joshyellin commented on #66
www.youtube.com/watch?v=s7WhZe2MBPQ&feature=youtu.be

[2016-06-11 17:45] joshyellin commented on #66
www.vimeo.com/152340175

[2016-06-11 17:47] joshyellin commented on #66
www.youtube.com/watch?v=FbXjlm2epro

[2016-06-11 17:56] joshyellin opened #67 "[Bug] Admin - scheduler, default mentor"
The default mentor is the first one in the list. Can we make the default a blank field? Just to be sure we don't accidentally book him by default.

[2016-06-11 18:21] greenido commented on #62
Sure.
On what email?

--from my mobile

[2016-06-11 21:42] joshyellin opened #68 "[Bug] Mentor - schedule"
If a mentor is scheduled with 2 startups in the same hour, only one shows up in the mentor's schedule (the last one alphabetically)

[2016-06-12 06:28] greenido commented on #68
It's by design as we can't show more than one startup per hour.

[2016-06-12 07:20] greenido commented on #67
It is the --N/A--
PLEASE DO NOT REMOVE or CHANGE it.

[2016-06-12 07:20] #67 closed, assigned to joshyellin

[2016-06-12 07:21] greenido commented on #66
Fixed.

[2016-06-12 07:21] #65 closed, assigned to greenido

[2016-06-12 07:22] #64 closed, assigned to greenido

[2016-06-12 07:26] greenido commented on #58
As we spoke, it will be in most (if not all) cases AFTER the mentor had a session with this startup - so we are covered as we wish her to fill notes in the last 'session notes'.

[2016-06-12 07:26] #58 closed, assigned to greenido, joshyellin

[2016-06-12 07:27] #56 closed, assigned to greenido

[2016-06-12 13:49] greenido commented on #68
But check the new functionality I've build for you :) You can now set notes per mentor and it will be on their schedule tab!

[2016-06-12 13:49] #68 closed, assigned to joshyellin

[2016-06-12 13:50] greenido commented on #59
You now have the ability to go to the admin app and add 'comments for the day' per mentor (it's in the bottom of their details). Once you click 'Save' - the mentor will see these notes on her schedule tab.

Please check, confirm and close this ticket.

[2016-06-12 13:54] greenido commented on #1
You can now do it by using the 'comments for the day' both to mentors and attendees.

[2016-06-12 13:54] #1 closed, assigned to joshyellin

[2016-06-12 16:58] joshyellin opened #69 "[Enhancement] Mentor/startup - link to defjam site"
Can we have a button that links to the bootcamp website within the app (sort of how you made one that takes you to the mentor guidelines right now)?

Don't have a link yet, but the website will be built today.

[2016-06-12 17:02] #66 closed, assigned to joshyellin

[2016-06-12 17:03] joshyellin commented on #59
Looks good!

[2016-06-12 17:03] #59 closed, assigned to joshyellin

[2016-06-12 17:07] #37 closed, assigned to joshyellin

[2016-06-12 17:31] joshyellin opened #70 "[Bug] Admin - saving schedule"
When there is a duplicate it won't let me save.

1) Set new schedule
2) Click save schedule
3) Click yes to warning ("are you sure you want to save schedule for this day?")
4) Second warning--"You have duplicates, save anyway?"... and at that point it won't let me click ok.

[2016-06-12 17:46] greenido commented on #69
Put in the ticket all the text you wish to have on the site and I'll put it in the apps.

--from my mobile

[2016-06-12 17:50] joshyellin commented on #69
I was going to use it for a few things: creating resource pages for
startups and mentors, hosting the agenda, sharing photo albums.

If we do this directly in the app, how would we update it? can we send you
the content we want inserted in there and you can load it up? Can Admin
update it?

Here was the previous bootcamp site
https://events.withgoogle.com/bootcamp1/ to give you an idea--I'm hoping

[2016-06-12 18:42] greenido commented on #69
In case I would separate the two:
1. The resource page + hosting agenda could (=should) be in the app.
2. The photos should be on the site.

so if you can fill #1 here - I will update both apps with it.

On Sun, Jun 12, 2016 at 8:50 PM, joshyellin notifications@github.com
wrote:

[2016-06-12 18:56] greenido commented on #70
I can save duplicates mentors - See the 6/6/2016 - I have there myself for 2 sessions at 9:00-10:00.
Please make sure you refresh you code (cmd+shift+reload).

[2016-06-12 21:09] joshyellin commented on #69
Sounds good. The speaker decks, etc. will be coming in one day at a time
and will be posted after the talks. Should I email you them as they come
in? What do you suggest?
On Jun 12, 2016 11:42 AM, "Ido Green" notifications@github.com wrote:

[2016-06-12 22:31] RanNachmany opened #71 "Entire day schedule got erased."
Here is the scenario:
1. I logged into LPA Admin -> Schedule view.
2. Reloaded schedule for June 13 2016.
3 Changed single session window (added one mentoring session for Approve at 10am).
4. Clicked on "Save Schedule"
5. Got a warning that I am trying to assign the same resource at the same time to more than startup.
6. Clicked "save"
7. The entire day's schedule was erased. All time slots are no

[2016-06-12 23:11] joshyellin commented on #71
Happened to me too a sec ago. Same sequence.
On Jun 12, 2016 3:31 PM, "Ran Nachmany" notifications@github.com wrote:

[2016-06-13 00:15] joshyellin opened #72 "[Enhancement] Admin - startup twitter handles"
Add startup twitter handles in the startup profiles

[2016-06-13 01:49] joshyellin commented on #69
Also, note that we basically just linked to the photo album on the site, so this could also go into the app. If we can pull off not having a website (which it sounds like we can), I'd much prefer it.

[2016-06-13 05:39] greenido commented on #69
If you need to update it daily - I suggest you create a site and just put a
link to it  in the daily comments.

Next time, I could build a feature that will let you update all this
content from the Admin app.

On Mon, Jun 13, 2016 at 4:49 AM, joshyellin notifications@github.com
wrote:

[2016-06-13 06:29] greenido commented on #71
It's working for me :/
So:
1. Make sure you update the code (you can verify that you (view source: v0.8 at the bottom of the html).
2. You are on a good connection.

[2016-06-13 07:15] joshyellin commented on #69
Ok, sounds good. Can we at least create a link/button to the defjam site in the app?

[2016-06-13 07:18] greenido commented on #69
Sure - add the link to this ticket.
Thx

--from my mobile

[2016-06-13 08:49] greenido commented on #72
Fixed.

[2016-06-13 15:48] joshyellin commented on #69
events.withgoogle.com/bootcamp-class-2

[2016-06-13 15:50] joshyellin commented on #71
Have both now. Will reopen if happens again.

[2016-06-13 15:50] #71 closed, assigned to joshyellin

[2016-06-13 15:53] joshyellin commented on #70
Still not working for me. "Joshua Yellin" is a mentor for 2 startups at 9:00AM-10:00AM on 6/13/2016. Yet only one of them (Conekta) shows up for 6/13 in the mentor schedule.

<img width="215" alt="screen shot 2016-06-13 at 12 13 58 am" src="https://cloud.githubusercontent.com/assets/18670546/16013968/373c4698-3144-11e6-898b-cb6a071825e1.png">

<img width="966" alt="screen shot 2016-06-13 at 12 13

[2016-06-13 17:05] greenido commented on #70
That is by design

--from my mobile

[2016-06-13 17:14] greenido commented on #69
fixed.

[2016-06-13 18:11] joshyellin commented on #69
Awesome. Can we change the name of the button from "LPA Class 2" to "Bootcamp Website"?

LPA is internal term and would be good to know it links to the bootcamp site.

[2016-06-13 18:14] joshyellin commented on #70
Can we change it to allow for this?

Under current constraints, if I book someone for 2x30min sessions (9am-9:30am, 9:30am-10am), they can only take notes for one of them. Even if I make it clear in the mentor and startup notes that there will be 2 sessions, the mentor still won't be able to leave notes on one of those sessions.

[2016-06-13 18:14] greenido commented on #69
Fixed.

[2016-06-13 18:14] #69 closed, assigned to greenido

[2016-06-13 18:16] greenido commented on #70
No. At this point we should not do it.

On Mon, Jun 13, 2016 at 9:14 PM, joshyellin notifications@github.com
wrote:

[2016-06-13 18:18] joshyellin commented on #70
If we get to the point where we have to tell startups "ignore the timeslots and pay attention only to the agenda in the trix," will we be able to change it?

It would be a necessary component for my plan B. If it's not possible, I'll rethink alternative strategies.

[2016-06-13 18:19] #72 closed, assigned to joshyellin

[2016-06-13 18:40] #70 closed, assigned to greenido

[2016-06-14 21:45] joshyellin opened #73 "[Bug] Mentor - leaving notes"
Two complaints from mentors:

while leaving notes for a meeting, it would pop up and say "couldn't find anything for this day."

Then they would have to start over. Happened a few times. Finally they gave up.

I tried to get as much detail on repeating steps, but couldn't get more than this.

[2016-06-15 05:29] greenido commented on #73
What is the email of the mentor(s) that had this issue?

--from my mobile

[2016-06-15 05:57] RanNachmany commented on #73
Not sure if it is relevant, but when I leave my mentor web app opened, I do
get from time to time these messages.

On Wed, Jun 15, 2016 at 8:29 AM, Ido Green notifications@github.com wrote:

[2016-06-15 06:33] greenido commented on #73
It's because you are removing all the sessions to the mentor that got the web app opened.
That's why I want their email.

[2016-06-15 08:01] joshyellin commented on #73
mfmosman@gmail.com

On Tue, Jun 14, 2016 at 11:33 PM, Ido Green notifications@github.com
wrote:

##

Joshua Yellin | Developer Platform | jyellin@google.com | (630) 302-1196
<630-302-1196>

[2016-06-15 08:02] joshyellin opened #74 "[Bug] Startup - N/A shows up in schedule"
Right now, the startup's schedule has the N/A slots in there, and it makes it hard to understand the schedule.

Any way we can have those automatically removed from their schedule view?

[2016-06-15 08:42] greenido commented on #74
Fixed.

[2016-06-15 15:31] fandywie opened #75 "Missing Meeting Notes"
I am unable to find Notes that I entered Yesterday.

![screen shot 2016-06-15 at 8 28 09 am](https://cloud.githubusercontent.com/assets/2950013/16086074/23fbe35a-32d3-11e6-874a-cd44aa06e254.png)

[2016-06-15 19:43] #74 closed, assigned to joshyellin

[2016-06-15 19:46] greenido commented on #75
Can you please try to refresh the app?

[2016-06-15 19:52] fandywie commented on #75
No luck, it's not showing up.

[2016-06-16 08:20] greenido commented on #75
I see your notes in our DB.

Can you please try and open the app in a incognito window?
Sorry for the trouble.

[2016-06-16 09:25] #73 closed, assigned to greenido

[2016-06-16 16:05] fandywie commented on #75
No luck, the data I entered on the 15th (Yesterday) is there, but not the one on the 14th

[2016-06-16 16:06] joshyellin opened #76 "[Bug] Admin - Notes"
The notes is a little buggy.

Go to a startup, click "see 11-13," and then it is always for BankFacil (not necessarily the app of interest)

[2016-06-16 16:12] greenido commented on #75
:( I'll keep investigate it.
Thanks!

On Thu, Jun 16, 2016 at 7:05 PM, Fandy notifications@github.com wrote:

[2016-06-16 16:15] greenido commented on #76
No idea what are you talking about.
1. Please describe in details what do you see.
2. Add steps to reproduce it.
3. Screenshots are also helpful.

[2016-06-16 20:56] joshyellin commented on #76
1. In admin, go to Notes
2. Click BankFacil
3. Click "Next" at bottom
4. The notes that come up correspond to Aliada (wrong startup)

[2016-06-17 07:16] greenido commented on #76
@joshyellin I did the steps and I get ONLY notes of BankFacil.
Please add a screen shot.

[2016-06-17 07:27] joshyellin commented on #76
[image: Inline image 1]

On Fri, Jun 17, 2016 at 12:16 AM, Ido Green notifications@github.com
wrote:

##

Joshua Yellin | Developer Platform | jyellin@google.com | (630) 302-1196
<630-302-1196>

[2016-06-17 07:33] joshyellin commented on #76
<img width="794" alt="admin app" src="https://cloud.githubusercontent.com/assets/18670546/16143664/06654aba-3423-11e6-8506-130011921963.png">

[2016-06-17 08:12] greenido commented on #76
Please check it again with a new version and if it's solved close this one.
Thanks.

[2016-06-17 08:22] joshyellin commented on #76
Yes, solved.

[2016-06-17 08:22] #76 closed, assigned to joshyellin

[2016-06-17 08:24] joshyellin opened #77 "[Question] Admin - notes"
There are _very_ few notes from startups in the app. Is there a data issue or are almost no startups leaving notes?

Would be good to know from a program communication standpoint.

[2016-06-17 08:50] greenido commented on #77
It's not an issue with the app - Attendees are not leaving notes, only a few of them.

I would suggest:
1. Please ask/remind them each morning to do it!
2. Put a reminder in the 'comments for the day' section.

On Fri, Jun 17, 2016 at 11:24 AM, joshyellin notifications@github.com
wrote:

[2016-06-17 12:11] RanNachmany opened #78 "Order mentor list in schedule builder"
When building a schedule we often scroll through mentors list. It will be very helpful to have it sorted by abc.

[2016-06-19 08:58] greenido commented on #78
It is sorted by ABC.

[2016-06-19 08:58] #78 closed, assigned to nobody

[2016-06-19 08:59] #54 closed, assigned to greenido

[2016-06-19 08:59] greenido commented on #53
done

[2016-06-19 08:59] #53 closed, assigned to greenido

[2016-06-19 21:54] joshyellin commented on #77
sg

[2016-06-19 21:54] #77 closed, assigned to joshyellin

[2016-06-20 21:48] luisbetancourtco opened #79 "Name and link to Mentor profile on Notes"
It would be great to know who's the mentor behind a note and as we don't perfectly know each other (Specially names), it would be nice to have a link to the author's profile on the note so we can maybe go and discuss some points...

[2016-06-21 06:01] joshyellin opened #80 "[Enhancement] Mentor app - some mentor notes visible to startups"
Would be nice if in the mentor notes, one was clearly marked "For mentors eyes only" and allowed for the back-channel chat, while the other question of Action Items could be visible to the startups.

I think its very valuable to have both opportunities (notes/homework/inspirational comment that is public and also the back-channel mentor-only comments).

[2016-06-21 07:25] joshyellin commented on #80
To clarify, this is not a bug, but an idea for an improvement for future versions. Basically, have one part of a mentor's notes be visible to the startup (e.g., Action Items), while another part of the note can be hidden to only mentors (e.g., feedback on the team)

[2016-06-21 12:47] greenido commented on #79
Excellent idea!
Thank you @luis3etancourt - please check it out... It's already in production 👍

[2016-06-24 16:12] luisbetancourtco commented on #79
@greenido ¿would it be possible to have the button in a different color depending on the expertise of the mentor? It would be useful to be able to focus on feedback from mentors on your area of expertize!

[2016-06-26 06:57] greenido commented on #79
Not sure about the color - but we will find a way to add this information so it will be easier for you.

[2016-06-26 06:58] greenido commented on #75
Closing as I can't reproduce it anymore. If it does popup in the future - please open it.
Thanks.

[2016-06-26 06:58] #75 closed, assigned to nobody

[2016-07-11 14:33] greenido opened #81 "Add 'progressive PWA lib'"
Use: https://github.com/GoogleChrome/pwacompat

[2016-07-14 15:03] greenido opened #82 "Check better logging lib for remote debugging"
https://i-break-codes.github.io/logerr/

[2016-08-17 23:38] greenido opened #83 "Check new modal (with timers and better animation)"
https://github.com/dolce/iziModal

[2016-10-04 02:08] #16 closed, assigned to greenido

[2016-10-04 02:09] greenido commented on #16
After thinking about it - it doesn't make sense.
We can keep our mentors in one sheet as the 'poor man' crm but it won't be a good idea to upload them into the app.

[2016-10-05 23:29] joshyellin commented on #16
sg

On Mon, Oct 3, 2016 at 7:09 PM, Ido Green notifications@github.com wrote:

##

Joshua Yellin | Developer Platform | jyellin@google.com | (630) 302-1196
<630-302-1196>

[2016-10-08 20:43] greenido commented on #83
Another option to check: http://tympanus.net/Development/NotificationStyles/attached-flip.html

[2016-10-14 22:22] greenido commented on #81
1. We can talk about the timeline vis a vis the lib we wish to use.
2. Let's see in which version of the mentor app we want to have it.

[2016-10-14 22:24] greenido opened #86 "Add Notes 'on the fly' - Even when the mentor doesn't have a schedule meeting"
This will enable us to work with the app in 1 day events that are a real challenge to use the scheduler.

[2016-10-17 20:00] greenido commented on #86
so far so good....

[2016-10-17 20:00] #86 closed, assigned to greenido

[2016-10-27 04:24] greenido opened #87 "Enable mentor/attendees to take a photo(s) from the session"
Under the notes per session enable mentors/attendees to take photos from the session.

[2016-10-28 20:39] greenido opened #88 "Detect is we are on Chrome iOS and ask the user to switch to Safari"
Due to firebase bug in authentication dialog 👎

[2016-12-11 21:14] joshyellin opened #89 "[Feature] [Admin] - upload data"
I saw the link to download the mentor data as a csv.

Any way we could upload data from a trix? This would be really helpful across the board (startups, attendees, mentors, schedule, etc.).

[2016-12-11 21:28] joshyellin opened #90 "[Mentor] Language fix in mentor wizard"
In the mentor wizard, change:
"See which startups are part of this LPA" to
"Learn about the startups in this LPA class"

<img width="873" alt="screen shot 2016-12-11 at 1 24 10 pm" src="https://cloud.githubusercontent.com/assets/18670546/21083430/754e74d4-bfa5-11e6-8444-73362c0234ba.png">

[2016-12-11 21:35] joshyellin opened #91 "[Admin] Language fix, mentor profile"
In the mentor profile, change:
"Your LinkedIn" to
"LinkedIn profile"

very small issue but is more consistent, as we don't say "your" in front of any other items.

[2016-12-11 21:38] greenido commented on #89
It's a good idea to have an integration.
But it's not for Q1.

[2016-12-11 21:39] #88 closed, assigned to greenido

[2016-12-11 21:39] greenido commented on #88
No need for that any more.

[2016-12-11 21:42] greenido commented on #91
should be just 'linkedin'.
It's fixed now.

[2016-12-11 21:42] #91 closed, assigned to nobody

[2016-12-11 21:44] joshyellin opened #92 "[Admin] Add "Resources" for startups and mentors"
If we can have a very simple "resources" page for startups and mentors, we could do away with needing a defjam site. I think it would be really valuable and (to my ignorant self) possibly easy to implement. wdyt?

It would just be a place to post links and descriptions to those links... mostly for speaker decks (but also other mentor recommended resources and links to photo albums).

[2016-12-11 21:46] greenido commented on #92
You already have this functionality today in the Admin app.

* In the schedule you have a 'comments' for the day - which all the startups/attendees see at the top of their daily schedule.

* For mentors, you can put "Notes For the Mentor" and they will see it in their app.

[2016-12-11 21:47] greenido commented on #90
Fixed.

[2016-12-11 21:47] #90 closed, assigned to nobody

[2016-12-11 21:47] greenido commented on #87
Done!

[2016-12-11 21:47] #87 closed, assigned to greenido

[2016-12-11 21:51] joshyellin commented on #92
Yes, but this would be a permanent place to house resources. This would be different than "daily comments."

The resources tabs would be a place the startups could dependably go back to reference. I don't know if it makes sense to use the "daily comments" feature for both use cases.

If so, maybe we change the name to "resources?" and use Slack for all daily comments?

[2016-12-11 21:55] joshyellin opened #93 "[Mentor] Additions to mentor profiles"
Could we add the following fields to the mentor profiles as they're seen in the mentor app?

- City, Country (should def be there)

- Fun Fact (would be nice to have)

[2016-12-11 22:10] joshyellin opened #94 "[Mentor] Language suggestions for notes form"
Some copy-editing on the notes form.

Suggested:

- Were the attendees open and receptive? (grammar)
- Was the session effective? (1-5)
- What did you talk about?
- What action items did you leave them with?
- "Upload photos here" (for camera button)... makes more sense to me

<img width="856" alt="screen shot 2016-12-11 at 1 56 15 pm" src="https://cloud.githubusercontent.com/assets/18670546/21083

[2016-12-11 22:13] joshyellin opened #95 "[Mentor] mentor notes, 2nd slide bar"
Didn't we want to remove the question "Were the attendees open and receptive?"

I don't think it's all that useful... it's usually reflected in the "effective" question and the notes.

wdyt?

[2016-12-11 22:16] joshyellin opened #96 "[Mentor] What is "feedback"?"
Is the "feedback" button at the bottom meant to be for bug reporting? Or to leave feedback on the program overall? or on the startups?

It's a little unclear to me. Maybe we can tweak to clarify our intent?

[2016-12-11 22:16] greenido commented on #93
Seen where?

[2016-12-11 22:17] greenido commented on #94
Let's talk about this one.
The only change might be in the first one - but I think we will kill it.

[2016-12-11 22:19] greenido commented on #95
Yep... Let's think if there is another 1-5 question we wish here or not.

[2016-12-11 22:19] greenido commented on #96
Feedback is both for bugs and ideas. Once someone click on it - it should be clear to them.

[2016-12-11 22:31] joshyellin opened #97 "[Mentor] Notes form button improvements"
Problems:

1. **The functionality of the orange button with startup name is unclear** (does it open their profile? their notes? I thought their profile til I clicked it, then when I realized it was notes I was wondering where their profile was)
2. **The functionality of the "open" button is unclear** (you don't know til you are curious enough to click it)
3. **There's no quick way to view the star

[2016-12-11 22:38] joshyellin opened #98 "[Mentor] Button colors on schedule page"
Tiny issue: Consider changing the orange color of either the "reload" button or the "startup" button.

Def not a big deal, but it throws me off a bit.

[2016-12-11 22:45] joshyellin commented on #96
I don't feel like it's all that clear. Even after I click it, I am not sure
what the goal is.

I feel like it would be more clear with 2 different buttons (each with
their own destination). One that says "Bugs" and one that says "Program
Feedback".

If you prefer it all to go to one place, then perhaps change the button to
"Bugs and Feedback" or something like that.

Just my 2 cents, of course.  :

[2016-12-11 22:56] joshyellin commented on #95
I have always wanted a question of "Should we schedule a follow-up meeting between you and this startup?" "If so, in how many days?"

If you agree, we can think of a good way to ask this. But from my experience, this would have been extremely helpful, and we would ideally ask both the mentors and the startups.

wdyt?

Maybe it's like this... "Should we schedule a follow-up meeting for you and this

[2016-12-11 23:00] joshyellin commented on #94
But what did you "**talked**" about should be "**talk** about"

Other than that and first one (which we'll kill), other issues are matter of preference.

[2016-12-11 23:04] joshyellin commented on #93
When I look at your profile in the admin app, it has all those fields:

<img width="674" alt="screen shot 2016-12-11 at 3 03 43 pm" src="https://cloud.githubusercontent.com/assets/18670546/21084117/0bc4e2ba-bfb3-11e6-8da2-874218c7a394.png">

When I look at your profile in the mentor app, it's missing them:

<img width="586" alt="screen shot 2016-12-11 at 3 02 17 pm" src="https://cloud.githubuserco

[2016-12-11 23:28] joshyellin opened #99 "[Startup] Wizard corrections"
1. The first wizard bubble:

<img width="653" alt="screen shot 2016-12-11 at 3 23 10 pm" src="https://cloud.githubusercontent.com/assets/18670546/21084268/caef3738-bfb5-11e6-8ec6-4ddfca7ef373.png">

- "You the attendee" should be "Your profile"
- "First time **you** here?" should be "First time **you're** here?"
- "Please fill all the details" should be "Please fill in all your profile details"
-

[2016-12-11 23:32] greenido commented on #97
The wording is way to long.
Plus, I do think it is ok for ppl to ask and see...

[2016-12-11 23:32] #97 closed, assigned to greenido

[2016-12-11 23:33] greenido commented on #93
Why it's important to see city/country there?
I think we should expose only the most important attributes.

[2016-12-11 23:35] greenido commented on #94
done

[2016-12-11 23:35] #94 closed, assigned to greenido

[2016-12-11 23:35] joshyellin opened #100 "[Startup] Schedule not showing up"
The schedule does not show up for the startup "Yellin Industries". Same month/day/year.

See startup app (after trying to reload a couple times):
<img width="1104" alt="screen shot 2016-12-11 at 3 33 12 pm" src="https://cloud.githubusercontent.com/assets/18670546/21084358/34289c8e-bfb7-11e6-99c2-daf56720ec3f.png">

And see admin app (set the schedule here a while back and it still shows up... so s

[2016-12-11 23:36] greenido commented on #95
Let's think about it.
It's important info to gain from the mentors - but might be better in other channels (e.g. slack).

[2016-12-11 23:39] greenido commented on #96
Feedback is the term all (=any app out there) is doing to bugs/ideas etc'.
I would like to avoid adding more buttons.

[2016-12-11 23:40] greenido commented on #98
done!

[2016-12-11 23:40] #98 closed, assigned to greenido

[2016-12-11 23:43] greenido commented on #99
Good one!
Fixed.

[2016-12-11 23:43] #99 closed, assigned to nobody

[2016-12-11 23:45] greenido commented on #100
You can see at the admin top-nav bar the status icon with: "Not good... try to reload".
It means you got some issues with firebase - please reload both apps (with clean cache) and see if you can reproduce it.
Try to open chrome devtools and put the output here is you see some errors - thx!

[2016-12-12 01:11] joshyellin commented on #100
Cleared all browsing data, re-logged into both apps, same problem.

You can show me how to use chrome devtools and share the output when we're together in Mexico.

[2016-12-12 01:15] joshyellin commented on #96
Ok, sg!

[2016-12-12 01:15] #96 closed, assigned to greenido

[2016-12-12 01:18] joshyellin commented on #95
Sg, let's def talk about best way to capture it. Let's also have a chat about ways we can improve the matchmaking process. Theres A LOT of room for improvement on this front based on previous bootcamps, so def worth a good talking over together.

[2016-12-12 01:19] joshyellin commented on #93
Mentors are coming in from all over the world.  I think it's relevant and cool to know where they come from ahead of time (culturally, market-wise).

[2016-12-12 01:21] joshyellin commented on #97
We can close this ticket, but I suggest we put the mentor notes process through some user testing.

[2016-12-12 02:04] greenido commented on #100
You are not looking at the right startup... you have two.
Make sure you put the attendee in the right place and you will see the schedule.

[2016-12-12 02:21] joshyellin commented on #100
+1

When I added the "1", I forgot that it would duplicate and not simply edit. A good reminder from an Admin perspective... be cautious about creating duplicate accounts when editing profiles.

[2016-12-12 02:21] #100 closed, assigned to greenido

[2016-12-30 18:33] greenido opened #102 "check https://github.com/davideast/Querybase"
might make our code cleaner?

[2017-01-12 23:23] greenido opened #107 "schedule in mentor app should have 'edit button' and not the 'add button'"
See in the attached screen shot - the 'add button' should be 'edit one'.
![screen shot 2017-01-12 at 3 22 17 pm](https://cloud.githubusercontent.com/assets/61472/21912471/fe4e90a4-d8da-11e6-9726-4f05d2f80f25.png)

More over, it won't open the meeting with the notes as it should.
You can see this functionality in the mentor-app.

[2017-01-12 23:25] greenido opened #108 "Images in the notes are not shown to the user/mentor when she open them"
In the 'edit note' screen - we should bring all the notes' info. including the images.

![screen shot 2017-01-12 at 3 24 10 pm](https://cloud.githubusercontent.com/assets/61472/21912505/41f14680-d8db-11e6-80ef-f767f2f1b261.png)

[2017-01-12 23:27] greenido commented on #93
@devnook this one is not high priority... just if you have time.

[2017-01-12 23:28] greenido commented on #92
Resources should be part of the defjem site - so you could control it.
As for daily comments - let's use this functionality AND slack.

[2017-01-12 23:30] greenido opened #109 "Not all the mentor info is fetched/shown in the app"
See below... I do have info (e.g bio) and it's shown in the mentor app (the last version)
![screen shot 2017-01-12 at 3 29 50 pm](https://cloud.githubusercontent.com/assets/61472/21912632/0cb8a37c-d8dc-11e6-88f8-48cc181f6291.png)

[2017-01-16 16:04] #108 closed, assigned to devnook

[2017-01-16 16:04] #109 closed, assigned to devnook

[2017-01-18 17:41] greenido opened #116 "Cant sign in to the mentor app"
Please see the attached.
![screen shot 2017-01-18 at 9 40 36 am](https://cloud.githubusercontent.com/assets/61472/22075797/4ace3160-dd62-11e6-88c3-d2e19ff745e4.png)

Btw, on the regular mentor app - everything is working fine.

[2017-01-18 19:48] greenido opened #117 "Mentors details and links"
1. The links to linkedin and other should open a new tab.
2. The current links are not working. We need to handle all the cases of http or the lack of http://
3. Please add more details on the mentors. For example: bio, expertise. You can have these in 'expend' element so it won't break the current list.

See this example for a current links that aren't working.
<img width="577" alt="screen shot 2

[2017-01-18 20:03] greenido opened #118 "Can't open the meeting notes"
https://lpa-1.firebaseapp.com/mentor/
See the schedule and when you click on the image (the plus button which should be pencil or something like 'edit') - nothing is happening.
![screen shot 2017-01-18 at 12 03 23 pm](https://cloud.githubusercontent.com/assets/61472/22080876/241de768-dd76-11e6-990e-a29ab8b8f750.png)
So the mentor can't fill the notes.

[2017-01-18 21:22] #118 closed, assigned to devnook

[2017-01-18 21:48] #116 closed, assigned to devnook

[2017-01-18 21:58] greenido commented on #107
Are you sure MDL doesn't have EDIT?
Can't be... :)

[2017-01-18 22:34] devnook commented on #107
Suprise me:)  http://material.io/icons/

On 18 January 2017 at 21:58, Ido Green <notifications@github.com> wrote:

--
Chief Chaos Architect
@devnook.com

This email can contain funny or confidential information. If you received
this email by mistake, please delete all copies, shut down the computer and
leave the building.

[2017-01-18 22:51] greenido commented on #107
https://material.io/icons/#ic_create

On Wed, Jan 18, 2017 at 2:34 PM, Ewa <notifications@github.com> wrote:

[2017-01-18 22:58] greenido commented on #107
...and even better: https://material.io/icons/#ic_edit

[2017-01-18 22:58] devnook commented on #107
Looks the same that is used now, no? mode_edit?

On 18 January 2017 at 22:51, Ido Green <notifications@github.com> wrote:

--
Chief Chaos Architect
@devnook.com

This email can contain funny or confidential information. If you received
this email by mistake, please delete all copies, shut down the computer and
leave the building.

[2017-01-18 23:10] greenido opened #121 "mentor notes - is not updated the rating"
please see the screenshot.
<img width="502" alt="screen shot 2017-01-18 at 3 09 23 pm" src="https://cloud.githubusercontent.com/assets/61472/22086951/3259f69a-dd90-11e6-9dcc-53293c0761d2.png">

[2017-01-18 23:12] greenido commented on #107
yep... closing 👍

[2017-01-18 23:12] #107 closed, assigned to devnook

[2017-01-19 10:16] #121 closed, assigned to devnook

[2017-01-20 21:27] greenido opened #123 "events in GA are not containing the mentor email"
See in our analytics for categories like: fetch-not-registered-mentor
We need to have the email so we could know who tried...

[2017-01-20 21:28] greenido commented on #117
Any update?

[2017-01-21 22:27] greenido commented on #93
btw, in the old app I've added more details.

[2017-01-22 22:39] devnook commented on #123
I believe this is fixed now (the events ceased after 18th Jan code refresh)

[2017-01-22 22:40] devnook commented on #117
It's in progress, I'll try to push it live sometime tomorrow.

[2017-01-23 00:47] greenido commented on #117
OK - please make sure to sync as I did quite a few changes to the code.

On Sun, Jan 22, 2017 at 2:40 PM, Ewa <notifications@github.com> wrote:

[2017-01-23 04:33] greenido opened #127 "help link on PWA is not showing any help"
Please copy the explanation code form the mentor web app.
Also, you can add a link to the YT explanation video.

[2017-01-24 01:54] greenido opened #128 "Adding placeholder to the meeting notes"
Please add this: "Focus on primary purpose / challenge and please elaborate." to the first textarea of the meeting notes.
We hope it will improve the quality of the notes.

[2017-01-25 19:33] #89 closed, assigned to greenido

[2017-01-26 09:03] devnook commented on #123
Closing for now, please reopen if the issue appears again.

[2017-01-26 09:03] #123 closed, assigned to devnook

[2017-01-27 11:37] #128 closed, assigned to devnook

[2017-01-27 11:38] #117 closed, assigned to devnook

[2017-01-27 16:05] #127 closed, assigned to devnook

[2017-02-16 20:17] #93 closed, assigned to greenido, devnook

[2017-02-16 20:18] #92 closed, assigned to joshyellin

[2017-02-16 20:19] #81 closed, assigned to greenido, devnook

[2017-02-16 20:20] #79 closed, assigned to nobody

[2017-02-16 20:20] #32 closed, assigned to greenido

[2017-02-16 20:20] #14 closed, assigned to greenido

[2017-02-19 21:43] greenido opened #133 "Adding analytics best practices from philip W."
Follow this: https://philipwalton.com/articles/the-google-analytics-setup-i-use-on-every-site-i-build/